* {
    box-sizing: border-box;
}

body {
    width: 260px;
    font-family: "Roboto", sans-serif;
    color: #333;
}

header, main, footer {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.logo img {
    width: 75px;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    color: #222;
}

ul {
    padding: 0;
}

.blacklisted-details ul {
    margin: 10px;
}

.blacklisted-details li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.blacklisted {
    margin-top: 5px;
    font-size: 14px;
}

footer {
    font-style: italic;
    color: #666;
}

footer img {
    width: 32px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    outline: none;
}

.hidden {
    display: none;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 240px;
}

.links {
    display: flex;
    margin-top: 18px;
}

.links div {
    flex-basis: 50%;
}

.cloud-opt-in {
    font-size: 13px;
    margin: 10px 20px;
    font-style: italic;
    color: #666;
    line-height: 1.5em;
}

.cloud-opt-in a {
    font-style: normal;
    font-weight: bold;
    color: #666;
    text-decoration: none;
}

.cloud-opt-in a:hover {
    color: #167ac6;
    text-decoration: underline;
}

input[type='checkbox'] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
}
